.chatDrawer {
    display: flex;
    flex-direction: row;
    background: var(--purple);
    flex: 1;
    overflow: hidden;
}

.roomList {
    width: 200px;
    border-right: 1px solid rgba(0,0,0,0.5);
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

.roomList header, .userList header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.roomList li, .userList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background: rgba(255,255,255,0.075);
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: 150ms;
    color: rgba(255,255,255,0.74)
}

.roomList li:hover,
.userList li:hover {
    background: rgba(255,255,255,0.2);
}

.roomList li.active {
    color: rgba(255,255,255);
    background: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.35);
}

.roomList li > div {
    width: 100%;
}

.userList {
    width: 200px;
    border-left: 1px solid rgba(0,0,0,0.5);
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

.userListInner,
.roomListInner {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.roomControls {
    margin-top: auto;
}

.chatInterface {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: rgba(255,255,255,0.03);
    width: 100%;
    /* max-width:960px; */
}

.welcomeMessage {
    overflow-y: auto;
    background: #805a93;
    z-index: 100;
    max-height: 60px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    border-bottom: 1px solid var(--black);
    display: flex;
}

.chatWindow {
    flex: 1;
    overflow-y: auto;
    height: 1px;
}

.chatForm {
    padding: 5px;
    display: flex;
    align-items: flex-start;
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
    margin: 10px;
}

.chatForm textarea {
    background: none;
    color: var(--white);
    border: 0;
    padding: 5px;
    font-size: 1rem;
    flex-grow: 1;
    margin: 0;
}

.chatForm *:focus {
    box-shadow: none;
}

.chatForm button {
    background: none;
    color: var(--white);
    border: 0;
    font-size: 1rem;
    width: 30px;
    cursor: pointer;
    margin: 0;
    height: 29px;
    padding: 0;
}

.chatForm button:hover {
    color: var(--bright-green);
}

.roomTitle strong {
    color: var(--green);
}

.messageList {
    margin: 0;
    padding: 10px 10px 0px 10px;
}

.messageList .messageContainer {
    list-style-type: none;
    margin: 0;
    padding: 2px 0;
    border-radius: 6px;
    transition: 300ms;
    margin-bottom: 2px;
}
/*.messageList .messageContainer .message,
.messageList .messageContainer .tarot,
.messageList .messageContainer .runes,
.messageList .messageContainer .action {
    text-indent: -43px;
    margin-left: 45px;
    user-select: text;
} */

.dateMessage {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: center;
    text-indent: 0 !important;
    margin: 1rem 0 !important;
    opacity: 0.7;
    font-weight: 700;
    color: var(--green)
}

.dateMessage > span{
    position: relative;
    display: inline-block;
}
.dateMessage > span:before, .dateMessage > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    width: 9999px; /* A hack! A palpable hack! */
    margin: 0 10px;
    opacity: 0.5;
}
.dateMessage > span:before{
    right: 100%;
}
.dateMessage > span:after{
    left: 100%;
}

/* Silly hack to make sure that a message after a date marker always
has its date displayed, even when the author is the same as that of
the previous day's message */
.dateMessage + .messageContainer .message .messageMetadata,
.dateMessage + .messageContainer .action .messageMetadata,
.dateMessage + .messageContainer .tarot .messageMetadata,
.dateMessage + .messageContainer .runes .messageMetadata {
    display: flex !important;
}

/* Loose message view */

.alert .messageMetadata {
    display: inline;
    /* margin-right: 5px; */
}

.alert .messageTimestamp {
    margin-right: 5px;
}

.messageMetadata {
    display: flex;
    align-content: baseline;
    margin-bottom: 5px;
    margin-top: 10px;
}

.messageMetadata .messageAuthor {
    order: 1;
    font-weight: 700;
    margin-right: 5px;
    user-select: text;
}

.messageMetadata .messageTimestamp {
    order: 2;
    font-family: 'Fira Sans Condensed', sans-serif;
    opacity: 0.4;
    user-select: text;
    position: relative;
    top: 1px;
}

.message .hidden {
    display: none;
}


/* Compact message view */

/* .messageTimestamp {
    font-family: 'Fira Sans Condensed', sans-serif;
    opacity: 0.4;
    padding-right: 8px;
    user-select: text;
}

.alert .messageTimestamp {
    position: absolute;
    left: 7px;
}

.messageAuthor {
    font-weight: 700;
    padding-right: 5px;
    user-select: text;
} */

/* .message .hidden {
    opacity: 0;
    transition: 300ms;
}

.message .hidden:hover {
    opacity: 1;
} */

.messageContainer:hover {
    background: #37204233;
}

.messageContainer.mentionMessage {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,247,121,0.1) 15%, rgba(255,247,121,0.1) 85%, rgba(255,255,255,0) 100%);
}

.messageContainer.mentionMessage:hover {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,247,121,0.15) 15%, rgba(255,247,121,0.15) 85%, rgba(255,255,255,0) 100%);
}



.message .messageContent,
.action .messageContent,
.tarot .messageContent,
.runes .messageContent {
    user-select: text;
    display: block;
    margin-left: 20px;
}

.messageList .action .messageContent,
.messageList .tarot .messageContent,
.messageList .runes .messageContent,
.messageList .alert .messageContent,
.messageList .alert .messageAuthor {
    font-style: italic;
}

.messageContent a {
    opacity: .7;
    color: var(--green);
    transition: 150ms;
    text-decoration: none;
}

.messageContent a:hover {
    color: var(--bright-green);
    text-decoration: underline;
}

.messageList .alert {
    text-align: center;
    opacity: 0.7;
    color: var(--green)
}

.spread {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.spread .tarotContainer {
    margin-right: 10px;
    margin-top: 10px;
    width: 100px;
    height: 170px;
}

.spread .runeContainer {
    margin-right: 10px;
    margin-top: 10px;
    width: 50px;
    height: 67px;
}

.tarotCard {
    width: 100px;
    height: 170px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    border-radius: 6px;
    position: relative;
    left: 20px;
}

.runestone {
    width: 50px;
    height: 67px;
    filter: drop-shadow(4px 4px 3px rgba(0,0,0,0.5));
    position: relative;
    left: 20px;
}

.userAvailable, .userAway, .userDnD, .userInvisible {
    font-size: 0.5rem;
    position: relative;
    top: -2px;
}

.userAvailable {
    color: #2ef82e;
}

.userAway {
    color: #ff9215;
}

.userDnD {
    color: rgb(233, 0, 0);
}

.userInvisible {
    color: rgb(180, 180, 180);
}

.userTooltip {
    display: flex;
    flex-direction: column;
}

.userTooltip button {
    margin-top: 0.5rem;
    text-align: left;
}

.userFlair {
    position: relative;
    top: 2px;
}

.userFlair img {
    height: 1rem;
}

.userBadge {
    border-radius: 2px;
    margin: 0 4px;
    text-transform: uppercase;
    font-size: 0.6rem;
    position: relative;
    top: -1px;
}
