.chatDrawer {
    display: flex;
    flex-direction: row;
    background: var(--purple);
    flex: 1;
}

.roomList {
    width: 200px;
    border-right: 1px solid rgba(0,0,0,0.5);
    padding: 10px 10px 10px 10px;
    position: relative;
}

.roomList header, .userList header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.roomList li, .userList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background: rgba(255,255,255,0.2);
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.roomList li:hover,
.userList li:hover {
    background: rgba(255,255,255,0.4);
}

.roomList li.active {
    color: var(--dark-purple);
    background: rgba(255,255,255,0.8);
}

.roomList li > div {
    width: 100%;
}

.userList {
    width: 200px;
    border-left: 1px solid rgba(0,0,0,0.5);
    padding: 10px 10px 10px 10px;
    position: relative;
}

.userListInner,
.roomListInner {
    overflow-y: scroll;
}

.roomControls {
    position: absolute;
    bottom: 10px;
    width: 180px;
    background: var(--purple);
}

.chatInterface {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: rgba(255,255,255,0.03);
    width: 100%;
    max-width:960px;
}

.welcomeMessage {
    position: fixed;
    overflow-y: scroll;
    background: #805a93;
    z-index: 100;
    max-height: 60px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    border-bottom: 1px solid var(--black);
    display: flex;
}

.chatWindow {
    flex: 1;
    overflow-y: auto;
    height: 1px;
}

.chatForm {
    padding: 5px;
    display: flex;
    align-items: flex-start;
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
    margin: 10px;
}

.chatForm textarea {
    background: none;
    color: var(--white);
    border: 0;
    padding: 5px;
    font-size: 1rem;
    flex-grow: 1;
    margin: 0;
}

.chatForm *:focus {
    box-shadow: none;
}

.chatForm button {
    background: none;
    color: var(--white);
    border: 0;
    font-size: 1rem;
    width: 30px;
    cursor: pointer;
    margin: 0;
    height: 29px;
    padding: 0;
}

.chatForm button:hover {
    color: var(--bright-green);
}

.roomTitle strong {
    color: var(--green);
}

.messageList {
    margin: 0;
    padding: 10px 5px 0px 5px;
}

.messageList .messageContainer {
    list-style-type: none;
    margin: 0;
    padding: 2px 0;
    border-radius: 6px;
    transition: 300ms;
}
.messageList .messageContainer .message,
.messageList .messageContainer .tarot,
.messageList .messageContainer .runes,
.messageList .messageContainer .action {
    text-indent: -43px;
    margin-left: 45px;
    user-select: text;
}

.dateMessage {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: center;
    text-indent: 0 !important;
    margin: 1rem 0 !important;
    opacity: 0.7;
    font-weight: 700;
    color: var(--green)
}

.dateMessage > span{
    position: relative;
    display: inline-block;
}
.dateMessage > span:before, .dateMessage > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    width: 9999px; /* A hack! A palpable hack! */
    margin: 0 10px;
    opacity: 0.5;
}
.dateMessage > span:before{
    right: 100%;
}
.dateMessage > span:after{
    left: 100%;
}

/* Silly hack to make sure that a message after a date marker always
has its date displayed, even when the author is the same as that of
the previous day's message */
.dateMessage + .messageContainer .messageMetadata {
    opacity: 1 !important;
}

.messageTimestamp {
    font-family: 'Fira Sans Condensed', sans-serif;
    opacity: 0.4;
    padding-right: 8px;
    user-select: text;
}

.alert .messageTimestamp {
    position: absolute;
    left: 7px;
}

.messageAuthor {
    font-weight: 700;
    padding-right: 5px;
    user-select: text;
}

/* .message .hidden {
    opacity: 0;
    transition: 300ms;
}

.message .hidden:hover {
    opacity: 1;
} */

.messageContainer:hover {
    background: #37204233;
}

.messageContent {
    opacity: 1;
    user-select: text;
}

.messageList .action .messageContent,
.messageList .tarot .messageContent,
.messageList .runes .messageContent,
.messageList .alert .messageContent,
.messageList .alert .messageAuthor {
    font-style: italic;
}

.messageList .alert {
    text-align: center;
    opacity: 0.7;
    color: var(--green)
}

.spread {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.spread .tarotContainer {
    margin-right: 10px;
    margin-top: 10px;
    width: 100px;
    height: 170px;
}

.spread .runeContainer {
    margin-right: 10px;
    margin-top: 10px;
    width: 50px;
    height: 67px;
}

.tarotCard {
    width: 100px;
    height: 170px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    border-radius: 6px;
    position: relative;
    left: 40px;
}

.runestone {
    width: 50px;
    height: 67px;
    filter: drop-shadow(4px 4px 3px rgba(0,0,0,0.5));
    position: relative;
    left: 40px;
}

.userActive, .userInactive, .userBusy {
    font-size: 0.5rem;
    position: relative;
    top: -2px;
}

.userActive {
    color: rgb(46, 248, 46);
}

.userInactive {
    color: rgb(161, 161, 161);
}

.userBusy {
    color: rgb(201, 12, 12);
}
