#settings {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
    padding: 10px 20px;
    overflow-y: auto;
}

#settings label {
    opacity: 1;
    color: var(--white);
    font-size: 1rem;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

#settings input {
    margin: 0;
    padding: 0;
}

input[type="checkbox"] {
    position: relative;
    top: 2px;
}

#settings h1 {
    margin-top: 0;
}
#settings h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

#flairSelector {
    margin: 0.5rem 0;
    display: flex;
    max-width: 376px;
    flex-wrap: wrap;
}

#flairSelector .icon {
    width: 42px;
    margin: 0 5px 5px 0;
    border: 1px solid transparent;
    padding: 2px;
    border-radius: 4px;
    background: rgba(255,255,255,0.075);
    transition: 150ms;
    cursor: pointer;
}

#flairSelector .icon:hover {
    background: rgba(255,255,255,0.2);
}

#flairSelector input[type=radio],
#statusSelector input[type=radio] {
    display: none;
}


#flairSelector input[type=radio]:checked + .icon {
    background: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.5);
}

#flairSelector label,
#statusSelector label {
    margin: 0;
    padding: 0;
}

#statusSelector {
    margin: 0.5rem 0 1rem 0;
}

#statusSelector input[type=radio] + span {
    border: 1px solid transparent;
    background: rgba(255,255,255,0.075);
    padding: 5px;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    width: 200px;
    display: block;
}

#statusSelector input[type=radio] + span:hover {
    background: rgba(255,255,255,0.2);
}

#statusSelector input[type=radio]:checked + span {
    background: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.5);
}
